
<h1>This is Home page</h1>

<div class="">
        User: {{user}}
</div>

<div class="">
    {{ p1 }}
</div>


<div class="">
    {{ p2 }}
    {{ p3}}
</div>


<div id="root"></div>
<div id="app"></div>
<div id="table">dd</div>
<div id="calculation">dd</div>

<script src="/dist/calculation.bundle.js"></script>
