
<div class="col-md-offset-1 col-md-4">

    <!-- Display errors -->

    <form method="POST" action="/users/login">

        <!--  email address -->
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="User Name">
      </div>


      <!--  password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
