

        <div class="col-md-offset-1 col-md-4">

            <!-- Display errors -->
            {{# if errors}}

                {{#each errors}}
                    <div class="alert alert-danger">{{ msg }}</div>
                {{/each}}

            {{/if}}


            <form method="POST" action="/users/register">

                <!--  user name -->
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Name">
              </div>


                <!--  email address -->
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>


              <!--  password -->
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>

              <!--  password2 -->
              <div class="form-group">
                <label for="exampleInputPassword2">Confirm Password</label>
                <input type="password" name="password2" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
              </div>

              <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
