html, body {
    height: 100%;
    min-height: 100%;
    background-color: skyblue;
    // background: url('./images/img_ihatetomatoes.png') center center no-repeat;

    p {
        font-size: 30pt;
    }

    h1 {
        font-size: 32px;
    }
}
